.action_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.action_container_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(255 255 255);
    border-color: rgb(211, 224, 233);    
    color: rgb(24, 80, 203) ;
    border-radius: 10px;    
    height: 60px;
    width: 90px;
    transition: 0.25s ease-in;
    cursor: pointer;
}

.action_container_btn:hover{
    background: black;
    color: white;
}

.left_action_container{    
    display: flex;
    justify-content:space-between;
    width: 28%;    
}

.middle_action_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;    
}

.middle_clockwise_actions{
    display: flex;
    justify-content: center;
    width: 100%;
}

.middle_anticlockwise_actions{
    display: flex;
    justify-content: center;
    width: 100%;
}

.right_action_container{
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 28%;    
}

.action_container_solution{
    position: absolute;
    text-align: center;    
    top:-90px;
    left: -20px;
    width: 220px;
    background:  rgb(221, 231, 245);
    color: rgb(24, 80, 203) ;
    border-radius: 10px;
    padding: 8px 20px;    
}

.movement_action_btn {
    height: 36px;
    width: 36px;
    border-radius: 10px;    
    text-align: center;
    margin: 4px;
    font-weight: bold;
    background: rgb(255 255 255);
    border-color: rgb(211, 224, 233);    
    color: rgb(24, 80, 203) ;
    transition: 0.25s ease-in;
    cursor: pointer;    
}

.movement_action_btn:hover{
    background: black;
    color: white;
}