.default_cube_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;    
}

.default_cube_modifier{
    position: absolute;    
    height: 100%;
    width: 100%;
    transform: scale(0.7) rotateX(25deg);    
}

.default_cube_top{    
    position: absolute;
    height: 200px;
    width: 200px;
    transform: rotate(30deg) skewX(-30deg) scaleY(1) scaleX(1.14);
    left: 202px;    
    top:-19px;        
}

.default_cube_front{    
    position: absolute;
    height: 260px;
    width: 200px;
    transform: skewY(30deg);
    left: 101px;    
    top:140px
}

.default_cube_right{        
    position: absolute;
    height: 260px;
    width: 200px;
    transform: skewY(-30deg) rotate(0deg);
    left: 302px;
    top: 138px;
}