.exploded_cube_container{
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(3, 1fr);
    background: rgb(255, 255, 255);
    height: 420px;
    width: 600px;    
    place-content: center;    
}
