.rubiks_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1200px;
    height: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #bdbdbd;    
}

.rubiks_container_header{
    height: 160px;
    width: 100%;
    background: red;
    text-align: center;
}

.rubiks_container_cube{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    background: rgb(96, 156, 96);
}

.rubiks_container_actions{
    height: 160px;
    width: 100%;
    background: blue;
}

.rubiks_panel_white{
    background: white;
}

.rubiks_panel_green{
    background: green;
}

.rubiks_panel_red{
    background: red;
}

.rubiks_panel_yellow{
    background: yellow;
}

.rubiks_panel_orange{
    background: orange;
}

.rubiks_panel_blue{
    background: blue;
}